.main {
  background-image: url('../images/bg-online.webp');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #ffffff;
  padding-top: 180px;
  text-align: center;

  h1 {
    font-size: 56px;
    color: #ffffff;
  }

  p {
    width: 867px;
    font-size: 16px;
    line-height: 155%;
    margin: 24px auto 45px auto;
  }

  a {
    display: flex;
    color: #ffffff;
    width: 175px;
    height: 46px;
    margin: 0 auto;
    background-color: #086CF9;
    border-radius: 4px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
  }
}

.info {
  margin-top: -40px;

  .info__inner {
  display: flex;
  background-color: #fff;
  padding: 56px 95px;
  justify-content: space-between;
  border-radius: 4px;
  box-shadow: 0px 8px 35px rgba(0, 0, 0, .16);
  }
  .info__item {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
  }
  span {
    font-weight: bold;
    font-size: 36px;
    color: #222222;
  }
  p {
    font-size: 16px;
    line-height: 155%;
    color: #086cf9;
  }

}

.course {
  margin-top: 134px;
}

.course__inner {
  display: flex;
  justify-content: space-between;
  gap: 38px;
  .right {
    background-image: url('../images/image-girls.webp');
    background-repeat: no-repeat;
    background-size: cover;
    flex: 0 0 595px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    .round {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .left {
    .title {
      margin-bottom: 24px;
      color: #222222;
    }
    .caption {
      color: #555555;
      font-size: 16px;
      line-height: 155%;
    }
    .second_caption {
      color: #333333;
      font-size: 20px;
      margin-top: 16px;
    }
    a {
      display: flex;
      width: 149px;
      height: 56px;
      background-color: #086CF9;
      border-radius: 4px;
      color: #ffffff;
      justify-content: center;
      align-items: center;
      margin-top: 32px;
    }
  }
}



